body {
    background-color: black !important;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	margin: 1REM;
	text-align: center;
	width: 100%;
	color: #fff !important;
}

header {
    padding: 1REM;
    text-align: center !important;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 3REM;
  color: #fff;
}

header h2 {
    font-weight: 100;
    font-size: 2REM;
}

header nav {
  display: flex;
  align-items: center;
}

header p {
  color: #fff;
  font-size: 2REM;
  margin: 0;
  font-weight: 100;
  text-align: center !important;
}

footer p {
    align-items: left;
}

title {
    color: #ffffff;
    padding: 20px;
}

li {
    display: inline;
}

h1 {
    color: #ffffff;
	font-size: 1.5REM;
}

h2 {
	color: #ffffff;
	font-size: 1REM;
	padding: 2REM; 
}

h3 {
    padding: 1REM;
	color: #ffffff;
	font-size: 0.5REM; 
}


p {
	color: #ffffff;
	font-size: 1rem;
}

footer {
    padding: 1REM;
	color: white;
	font-size: 16px;
	align-items: left;
}

.btn-home{
    font-weight: 700;
    font-size: 3REM !important;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
}
.btn-home:link, .btn-home:visited {
    color: #ffffff;
}
.btn-home:active, .btn-home:hover {
    background: #ffffff;
	color: #fff !important;
}

.btn-linkedin {
	 background: #0E76A8;
	 border-radius: 0;
	 color: #fff;
	 border-width: 1px;
	 border-style: solid;
	 border-color: #084461;
}
.btn-linkedin:link, .btn-linkedin:visited {
         color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
        background: #084461;
	color: #fff;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.pdf_viewer {
    border: 1REM;
}

.contact_form {
    border: 1REM;
    display: inline-block;
    align-items: center;
}

.main_image {
    padding: 2REM;
}
